body {
	background-color: #e9ebf2;
}

body, input, submit, button {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
}

input, button {
	border: 1px #7d7d7d solid;
	border-radius: 4px;
}
input:focus, button:focus {
	border: 1px #7d7d7d solid;
	outline: none;
}
input[type="submit"], input[type="button"], button {
	background-color: #e6e6e6;
}
input[type="submit"]:hover, input[type="button"]:hover, button:hover {
	background-color: #cecece;
}

div:focus {
	outline: none;
}


.container {
	width: 1000px;
	margin: auto;
}

.list-container {
	width: 450px;
}

.row {
	padding: 10px;
	border-bottom: 1px #bfbfbf solid;
	display: flex;
	flexdirection: row;
	justify-content: space-between;
}
.row:last-child {
	border-bottom: none;
}

.element {
	display: inline-block;
	margin: 0;
}

.more-button {
	padding-left: 7px;
	padding-right: 2px;
}
.more-button:after {
	content: '\2807';
}

.default-hide {
	display: none;
}

#drop-area {
  width: 410px;
  margin-top: 30px;
  padding: 20px;
  border: 1px #bfbfbf solid;
  text-align: center;
}
#drop-area.highlight {
  border-color: black;
}