{% load static %}

<link rel="stylesheet" href="{% static 'alg/style.css' %}">
<form action="{% url 'alg:add_allergy' %}" method="post">
	{% csrf_token %}
	<input type="text" name="name">
	<input type="submit" value="add">
</form>
<table>
	{% for allergy in allergy_list %}
		<tr>
			<td>name: {{ allergy.name }} with anger: {{ allergy.anger }}</td>
			<td>
				<form action="{% url 'alg:enrage' %}" method="post">
					{% csrf_token %}
					<input type="hidden" name="id" value="{{ allergy.id }}">
					<input type="submit" value="enrage">
				</form>
			</td>
			<td>
				<form action="{% url 'alg:del_allergy' %}" method="post">
					{% csrf_token %}
					<input type="hidden" name="id" value="{{ allergy.id }}">
					<input type="submit" value="delete">
				</form>
			</td>
		</tr>
	{% endfor %}
</table>

<script src="{% static 'alg/main.js' %}"></script>