{% load static %}

<link rel="stylesheet" href="{% static 'alg/style.css' %}">

<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">



<div class="container">
	<div class="user-form">
		{# <span>mrtedn</span> #}
		{# <span class="triangle">▼</span> #}
		<input type="button" value="sign in">
		<input type="button" value="sign up">

		<form action="{% url 'alg:sign_in' %}" method="post">
			{% csrf_token %}
			<input type="text" name="username" placeholder="username"><br>
			<input type="text" name="password" placeholder="password"><br>
			<input type="submit" value="sign in">
		</form>

		<form action="{% url 'alg:sign_up' %}" method="post">
			{% csrf_token %}
			<input type="text" name="username" placeholder="username"><br>
			<input type="text" name="password" placeholder="password"><br>
			<input type="submit" value="sign up">
		</form>

		<form action="{% url 'alg:log_out' %}" method="post">
			{% csrf_token %}
			<input type="submit" value="log out">
		</form>
	</div>

	<form action="{% url 'alg:add_allergy' %}" method="post">
		{% csrf_token %}
		<input type="text" name="name">
		<input type="submit" value="add">
	</form>
	<div class="list-container">
		{{ username }}
		{% for allergy in allergy_list %}
			<div class="row">
				<div class="element" contenteditable="true" oninput="duplicateInput({{ allergy.id }})" id="name{{ allergy.id }}">{{ allergy.name }}</div>
				<div class="element">
					<form action="{% url 'alg:enrage' %}" method="post" class="element" id="enrage{{ allergy.id }}">
						{% csrf_token %}
						<input type="hidden" name="id" value="{{ allergy.id }}">
						<input type="submit" value="enrage">
					</form>
					<form action="{% url 'alg:del_allergy' %}" method="post" class="element default-hide" id="delete{{ allergy.id }}">
						{% csrf_token %}
						<input type="hidden" name="id" value="{{ allergy.id }}">
						<input type="submit" value="delete">
					</form>
					<form action="{% url 'alg:edit_allergy' %}" method="post" class="element default-hide" id="edit{{ allergy.id }}">
						{% csrf_token %}
						<input type="hidden" name="id" value="{{ allergy.id }}">
						<input type="hidden" name="name" id="hiddenName{{ allergy.id }}">
						<input type="submit" value="edit">
					</form>
					<button class="element more-button" onclick="show({{ allergy.id }})" id="more{{ allergy.id }}"></button>
				</div>
			</div>
		{% endfor %}
	</div>

	<div id="drop-area">
		{% csrf_token %}
		import
	</div>
</div>

<script src="{% static 'alg/main.js' %}"></script>